<div class="onboarding-page">
  <header>
    <a href="/" class="logo-container">
      <img src="https://i.postimg.cc/Qd6zwQSh/icon-growia.png" alt="Growia Logo" />
      Growia
    </a>
  </header>

  <div class="main-content">
    <div class="text-section">
      <h1>
        ¿No sabes qué sembrar en Lima?
      </h1>
      <p class="tagline"> Tu asistente está aquí para ayudarte a cultivar paso a paso.</p>
      <button class="btn-start" (click)="start()">Comenzar ahora</button>
    </div>

    <div class="image-section">
      <img src="https://i.postimg.cc/pL1ryKJV/ON1.png" alt="Agricultura Urbana en Lima" class="main-isometric-image"/>
    </div>
  </div>
</div>