:root {
  --verde: #8BD318;
  --negro: #000000;
  --gris: #555;
  --blanco: #fff;
  --text-dark: #333;       
  --text-light: #555;      
  --bg-light: #F8F8F8;     
  --btn-hover: #222222;    
  --box-shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.08);
  --fuente: 'DM Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente);
}

body {
  background-color: #fff;
  min-height: 100vh;
}


app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}